.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-large {
  width: 50px;
  border-radius: 50%;

}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: $box-shadow;
  border: white 1px solid;
}

.avatar-xlarge {
  width: 150px;
  border-radius: 150%;
}


body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}


