<ul class="list-inline text-center">
  <% ["constantin", "mariana"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle avatar-xlarge" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
